.page-container {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Center content properly */
.page-container h1 {
  font-size: 36px;
  color: darkolivegreen;
  margin-bottom: 20px;
}

.a{
  text-align: center;
  font-size: 28px;
  color: #2C3E50;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.b{
  text-align: center;
  font-size: 22px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}